@import '../mixins';

.hero {
  height: 90vh;
  width: 100%;
  @media (max-width: 1024px) {
    height: auto;
  }
  .letter {
    transition: var(--transition-1-smooth);
    letter-spacing: -5px;
    user-select: none;
    @media (max-width: 1024px) {
      letter-spacing: normal;
    }
    &:hover {
      color: var(--primary-mute);
      filter: blur(2px);
    }
  }
  .lineOne,
  .lineTwo {
    font-family: var(--font-title);
    font-size: var(--text-hero);
    text-transform: uppercase;
    margin-bottom: -10vh;
    @media (max-width: 1024px) {
      margin: 0;
      & > * {
        margin-bottom: -4vh;
      }
    }
  }
  .lineOne {
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
      align-items: flex-start;
      flex-direction: column;
      .segOne {
        width: 100%;
      }
    }
    span {
      width: auto;
    }
    .segTwo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .separator {
        width: auto;
        width: calc(100% - var(--space-3xl));
        margin: 0 var(--space-2xl);
        height: clamp(20px, 3.5vmin, 55px);
        background-color: var(--text-color);
        transition: var(--transition-1-smooth);
        @media (max-width: 1024px) {
          margin-left: var(--space-md);
        }
        &:hover {
          transform: scaleX(1.025) scaleY(0.9);
          background-color: var(--primary-mute);
        }
      }
    }
  }
  .lineTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .aboutImg {
      position: relative;
      height: calc(0.7 * var(--text-hero));
      width: calc(100% - var(--space-2xl));
      margin-left: var(--space-2xl);
      border-radius: var(--radius-rounded);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition-1-smooth);
      @media (max-width: 1024px) {
        height: 24vh;
        width: 100%;
        margin: var(--vp-md) 0;

      }
      &::after {
        @include pseudoShade;
      }
      &:hover {
        transform: scale(1.025, 0.975);
        img {
          transform: scale(1.01, 1.05);
        }
        &::after {
          opacity: 0.3;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 10%;
        transition: var(--transition-1-smooth);
      }
    }
  }
  .lineThree {
    margin-top: 5vh;
    height: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 1024px) {
      margin: 0;
      flex-direction: column;
      align-items: center;
    }
    .about {
      width: 54vw;
      font-family: var(--font-body);
      font-weight: var(--medium);
      font-size: clamp(
        var(--text-md),
        2vmin,
        var(--text-3xl)
      );
      br {
        display: none;
      }
      @media (max-width: 1024px) {
        width: var(--mobile-blurb-width);
        br {
          display: initial;
        }
      }
    }
    .scrollInd {
      width: var(--grid-col);
      padding-bottom: var(--vp-md);
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      @media (max-width: 1024px) {
        display: none;
      }
      .scrollLabel {
        color: var(--text-color) !important;
        text-transform: lowercase;
        font-family: var(--font-title);
        font-size: clamp(
          var(--text-md),
          2vmin,
          var(--text-3xl)
        );
      }
    }
    .scrollWindow {
      position: relative;
      overflow: hidden;
      height: 27px;
      width: 27px;
      .arrow {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(5px);
        height: 20px;
        width: 20px;
        margin-bottom: 7px;
        transition: var(--transition-1-smooth);
        path {
          transform: scale(0.8);
        }
      }
      .arrowOne {
        animation: 1.5s infinite ease-in slideRepeat;
      }
      .arrowTwo {
        top: -40px;
        animation: 1.5s infinite ease-in slideRepeat;
      }
    }
  }
}

@keyframes slideRepeat {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  40% {
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
  }
  100% {
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
  }
}

@keyframes blueFade {
  0% {
    color: var(--text-color);
    filter: blur(0px);
  }
  50% {
    color: var(--primary-muter);
    filter: blur(1px);
  }
  100% {
    color: var(--primary-mute);
    filter: blur(2px);
  }
}
