@import "../mixins.scss";

.work {
  @include homeSection;
  width: 100%;
  min-height: 70vh;
}

.label {
  @include label;
}

.content {
  width: min(1044px, 80vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 75px;
}

.item {
  display: grid;
  gap: 50px;
  grid-template-columns: 125px 1fr;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.dates {
  display: flex;
  color: var(--text-color-muted);
  text-transform: uppercase;
  font-size: 16px;
  &.desk {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-right: 1px solid var(--text-color-muted);
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &.mobile {
    display: none;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    @media (max-width: 1024px) {
      display: flex;
    }
  }
}
.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
.dates__mobile {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
  }
}
.paragraph {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.techList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}
.techListItem {
  text-transform: uppercase;
  font-family: var(--font-title);
  color: var(--primary-soft);
  letter-spacing: 2px;
}
