@import '../mixins.scss';

.projectList {
  position: relative;
  padding-top: 10vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
  .label {
    @include label;
  }
  .dividerVert {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--grey-10);
  }
}

.projectRowSlide {
  position: relative;
  width: 100%;
  overflow-x: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--grey-10);
  }
  &.projectPushed {
    transform: translateX(-50vw);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50vw;
      height: 1px;
      width: 100%;
      background-color: var(--grey-10);
    }
  }
  &:hover {
    img {
      filter: saturate(100%) !important;
    }
    h4 {
      transform: skewX(-5deg);
      color: var(--primary-mute);
    }
  }
}

.projectRow {
  width: auto;
  height: 40vh;
  margin-bottom: 2vh;
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  text-transform: uppercase;
  overflow-x: visible;
  margin-right: 50px;

  .projectName {
    width: auto;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text-display);
    transition: var(--transition-1-smooth);
  }
  .projectAbbr {
    margin: 0;
    font-size: var(--text-header);
    transition: var(--transition-1-smooth);
  }
  .projectImg {
    height: 20vh;
    border-radius: var(--radius-rounded);
    overflow: hidden;
    &.large {
      min-width: 27vw;
    }
    &.small {
      min-width: 22vw;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      filter: saturate(0) brightness(0.8);
      transition: var(--transition-1-smooth);
    }
  }
}
