@import '../mixins.scss';

.projectList {
  @include homeSection;
  overflow: visible;
  isolation: isolate;
  @media (max-width: 1024px) {
    margin-top: 10vh;
  }
  .label {
    @include label;
    // height: 10vh;
    margin: 0;
  }
  .dividerVert {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--grey-10);
  }
}

.mobileSelectShade {
  @include pseudoSlide;
  opacity: 0.2;
  height: 40vh;
  width: 140vw;
  top: calc(10vh + (var(--space-2xl) * 2));
  left: -12vw;
  display: none;
}
