@import '../mixins.scss';

.tech {
  @include homeSection;
  .label {
    @include label;
  }
  .blurb {
    @include blurb;
  }
  .techList {
    @include list;
  }
  .techRow {
    margin-bottom: var(--vp-sm);
  }
  .buttons {
    width: 40vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    button {
      width: 25%;
      padding: 0 2vh;
      margin-right: var(--space-3xl);
    }
  }
}
