@import "../mixins.scss";

.writing {
  @include homeSection;
  // position: unset;
  overflow: hidden;
  cursor: crosshair;
  & > * {
    z-index: var(--level-one);
  }
  .label {
    @include label;
  }
  .blurb {
    @include blurb;
    @media (max-width: 1024px) {
      width: var(--mobile-blurb-width);
      margin-bottom: var(--vp-md);
    }
  }
  .writingList {
    @include list;
    background-color: transparent;
    font-size: var(--text-display);
    @media (max-width: 1024px) {
      width: var(--mobile-blurb-width);
    }
  }
  .writingTitle {
    z-index: var(--level-four);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--text-color);
    opacity: 1;
    transition: var(--transition-primary);
    &:hover {
      // color: var(--grey-20);
      color: var(--primary-light);
      opacity: 0.9;
    }
  }
  .writingRow {
    &:not(:last-child) {
      margin-bottom: var(--vp-lg);
    }
  }
  .writingImg {
    height: 14vh;
    width: 55vw;
    background-color: var(--primary-soft);
    border-radius: var(--radius-rounded);
    margin-bottom: var(--vp-sm);
    margin-left: var(--pill-overshoot);
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .writingBtn {
    margin-top: var(--vp-xxs);
    border: none;
    letter-spacing: var(--push-md);
    font-weight: var(--semibold);
  }
  .button {
    margin-top: var(--vp-sm);
    width: 40vw;
    button {
      width: 50%;
      padding: 0 var(--vp-md);
    }
    @media (max-width: 1024px) {
      width: var(--mobile-blurb-width);
      white-space: nowrap;
      button {
        width: 60%;
        margin-left: 20%;
      }
    }
  }
}

.cursorContainer {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 25vw;
  height: 200px;
  transition: var(--transition-primary);
  transition: var(--transition-1-smooth);
  contain: layout size;
}

.cursorImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 200px;
  border-radius: var(--radius-rounded);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  isolation: isolate;
  &::after {
    @include pseudoShade;
    z-index: 10;
    background-color: var(--primary-mute);
    opacity: 0.5;
  }
  img {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: var(--transition-primary);
  }
}

.cursorText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -80%);
  color: var(--primary);
  text-transform: uppercase;
  font-weight: var(--bold);
  letter-spacing: var(--push-md);
  font-size: var(--text-2xl);
  white-space: nowrap;
  border: 1px solid var(--primary);
  padding: 1vh 2vh;
  border-radius: var(--radius-rounded);
}
