@import '../mixins.scss';

.writing {
  @include homeSection;
  // padding-bottom: var(--vp-lg);
  overflow: hidden;
  cursor: crosshair;
  & > * {
    z-index: var(--level-one);
  }
  .label {
    @include label;
  }
  .blurb {
    @include blurb;
    @media (max-width: 1024px) {
      width: var(--mobile-blurb-width);
      margin-bottom: var(--vp-md);
    }
  }
  .writingList {
    @include list;
    background-color: transparent;
    font-size: var(--text-display);
    @media (max-width: 1024px) {
      width: var(--mobile-blurb-width);
    }
  }
  .writingTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .writingRow {
    &:not(:last-child) {
      margin-bottom: var(--vp-lg);
    }
  }
  .writingImg {
    height: 14vh;
    width: 55vw;
    background-color: var(--primary-soft);
    border-radius: var(--radius-rounded);
    margin-bottom: var(--vp-sm);
    margin-left: var(--pill-overshoot);
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .writingBtn {
    margin-top: var(--vp-xxs);
    border: none;
    letter-spacing: var(--push-md);
    font-weight: var(--semibold);
  }
  .button {
    margin-top: var(--vp-sm);
    width: 40vw;
    button {
      width: 50%;
      padding: 0 var(--vp-md);
    }
    @media (max-width: 1024px) {
      width: var(--mobile-blurb-width);
      white-space: nowrap;
      button {
        width: 60%;
        margin-left: 20%;
      }
    }
  }
  .cursorImg {
    z-index: var(--ground);
    position: fixed;
    top: 100px;
    left: 12.5vw;
    top: 0;
    left: 0;
    width: 25vw;
    height: 200px;
    background-color: var(--grey-10);
    border-radius: var(--radius-rounded);
    opacity: 0;
    display: none;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--black-fade-20);
    }
    .cursorGif {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0;
      transition: var(--transition-4-smooth);
      &.visible {
        opacity: 1;
      }
    }
  }
  .cursorPointer {
    z-index: var(--level-two);
    position: fixed;
    top: 100px;
    left: 12.5vw;
    align-items: center;
    justify-content: center;
    transition: var(--transition-4-smooth);
    opacity: 0;
    .dot {
      height: var(--space-xl);
      width: var(--space-xl);
      background-color: var(--primary);
      border-radius: var(--radius-rounded);
    }
    .text {
      text-transform: uppercase;
      font-size: var(--text-md);
      color: var(--primary);
      margin-left: var(--space-lg);
      letter-spacing: var(--open);
      font-weight: var(--semibold);
    }
  }
}
