@import "../mixins.scss";

.contact {
  @include homeSection;
  min-height: 100vh;
  @media (max-width: 1024px) {
    min-height: unset;
  }
  .label {
    @include label;
  }
  .banners {
    position: relative;
    width: 120vw;
    padding: var(--vp-sm);
    transform: translateX(-10vw);
    font-family: var(--font-title);
    font-size: var(--text-9xl);
    text-transform: uppercase;
    letter-spacing: var(--even);
    isolation: isolate;
    user-select: none;
    @media (max-width: 1024px) {
      font-size: var(--text-5xl);
      display: none;
    }
  }
  .bannerLine {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    white-space: nowrap;
    a {
      color: var(--grey-10);
      transition: var(--transition-3-smooth);
    }
    &:hover {
      animation-play-state: paused !important;
      a {
        color: var(--primary);
        transform: skewX(-10deg);
      }
    }
    &.lineOne {
      animation: marqueeLeft 20s linear infinite;
    }
    &.lineTwo {
      animation: marqueeRight 25s linear infinite;
    }
  }
  .phrase {
    width: auto;
    white-space: nowrap;
    transition: var(--transition-3-smooth);
  }
  .blurb {
    @include blurb;
    height: auto;
    margin: var(--vp-xl) 0;
    font-weight: var(--bold);
    letter-spacing: var(--push-md);
    font-size: var(--text-prose);
    text-align: center;
    span {
      color: var(--primary-soft);
    }
    br {
      // display: none;
    }
    br {
      content: "";
      display: block;
      margin: var(--vp-sm) 0;
    }
    @media (max-width: 1024px) {
      text-align: left;
      margin: var(--vp-lg);
      margin-top: 0;
      width: var(--mobile-blurb-width);
    }
  }
  .email {
    cursor: copy;
    position: relative;
    font-family: var(--font-title);
    font-size: var(--text-5xl);
    letter-spacing: var(--push-xl);
    color: var(--text-color);
    text-transform: uppercase;
    // @media (max-width: 1024px) {
    //   height: 15vh;
    //   width: 100%;
    //   width: 100vw;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   font-size: var(--text-2xl-plus);
    //   letter-spacing: var(--push-xl);
    //   color: var(--primary);
    //   border-top: 1px solid var(--primary);
    //   border-bottom: 1px solid var(--primary);
    // }
    & > * {
      transition: var(--transition-3-smooth);
    }
    &:hover {
      .emailText {
        transform: skewX(-10deg);
        color: var(--primary);
      }
      .emailToolTip {
        opacity: 1;
      }
      .toolTipSlider {
        transform: translate(-50%, -50%) !important;
      }
    }
    .emailToolTip {
      opacity: 0;
      position: absolute;
      height: 5vh;
      width: 25vw;
      bottom: -70%;
      left: 50%;
      transform: translateX(-50%);
      font-size: var(--text-md);
      font-style: italic;
      color: var(--primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: var(--transition-3-smooth);
      .toolTipSlider {
        position: absolute;
        top: 0;
        left: 50%;
        height: 10vh;
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%, -50%);
        transition: var(--transition-3-smooth);
        overflow: hidden;
        &.off {
          transform: translateX(-50%) !important;
        }
        span {
          height: 5vh;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

// Mobile Functionality
@media (max-width: 1024px) {
  .contact .email {
    user-select: none;
    height: 15vh;
    width: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-2xl-plus);
    letter-spacing: var(--push-xl);
    color: var(--primary);
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    & > * {
      transition: var(--transition-3-smooth);
    }
    &:hover, &:active {
      .emailText {
        transform: skewX(-10deg);
        color: var(--primary);
      }
      .emailToolTip {
        opacity: 1;
      }
      .toolTipSlider {
        transform: translate(-50%, -50%) !important;
      }
      &::after {
        opacity: 0.8 !important;
      }
    }
    .emailToolTip {
      opacity: 1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transform: unset;
      display: flex;
      align-items: center;
      &::after {
        @include pseudoShade;
        opacity: 1;
        z-index: -1;
      }
      .toolTipSlider {
        // TEST START:
        top: 50%;
        height: 5vh;
        width: 100%;
        overflow: visible;
        overflow: hidden;
        isolation: isolate;
        span {
          z-index: 1;
          flex-grow: 1;
          flex-basis: 100%;
          min-height: 100% !important;
          color: var(--white);
        }
        // TEST END:
        &.off {
          transform: translateX(-50%) !important;
        }
      }
    }
  }
}

@keyframes marqueeLeft {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marqueeRight {
  100% {
    transform: translateX(100%);
  }
}
