@import "../mixins";

.projectBlock {
  position: relative;
  height: 40vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-title);
  text-transform: uppercase;
  letter-spacing: var(--push-lg);
  isolation: isolate;
  .lineOne {
    margin-bottom: var(--vp-xs);
    // test
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // end-test
    h4 {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: var(--text-display);
    }
  }
  .lineTwo {
    display: grid;
    display: flex;
    grid-template-columns: 1.25fr auto;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    h4 {
      display: none;
      font-size: var(--text-header) !important;
    }
  }
  button {
    justify-self: flex-end;
    margin-top: var(--vp-xs);
    transform-origin: top left;
    &.selectedStyle {
      transform: scale(1.1);
    }
  }
}

.projectAbbr {
  margin: 0;
}

.projectImg {
  height: var(--text-display);
  height: 8vh;
  height: 80%;
  width: auto;
  margin-left: var(--space-lg);
  border-radius: var(--radius-rounded);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
