@import '../mixins.scss';

.projectRowSlide {
  position: relative;
  width: 100%;
  overflow-x: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
  transition: var(--transition-1-smooth);
  color: var(--text-color);
  will-change: transform;
  &.notPushed {
    &::after {
      @include pseudoSlide;
    }
  }
  &.projectPushed {
    &::after {
      @include pseudoSlide;
    }
  }
  &:hover {
    &::after {
      transform: translateX(0) skewX(10deg);
      opacity: 0.2;
    }
    img {
      filter: saturate(100%) !important;
    }
    h4 {
      transform: skewX(-5deg);
      color: var(--primary-mute);
    }
  }
}

.projectRow {
  width: auto;
  height: 40vh;
  margin-bottom: 2vh;
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  text-transform: uppercase;
  overflow-x: visible;
  margin-right: 50px;
  .projectName {
    width: auto;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text-display);
    transition: var(--transition-1-smooth);
  }
  .projectAbbr {
    margin: 0;
    font-size: var(--text-header);
    transition: var(--transition-1-smooth);
  }
  .projectImg {
    height: 20vh;
    border-radius: var(--radius-rounded);
    overflow: hidden;
    &.large {
      min-width: 27vw;
    }
    &.small {
      min-width: 22vw;
    }
    img {
      height: 100%;
      width: 100%;
      transform: scale(1.25) !important;
      object-fit: cover;
      object-position: center;
      filter: saturate(0) brightness(0.8);
      transition: var(--transition-1-smooth);
      &:hover {
        transform: scale(1) !important;
      }
    }
  }
}
