@import '../mixins';

.layout {
  @include layout;
  min-width: 350px;
}

.content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: var(--vp-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-title);
  font-family: var(--font-body);
  letter-spacing: var(--push-md);
  text-transform: uppercase;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .social {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 1024px) {
      flex-direction: column;
      margin: var(--vp-lg) 0;
    }
    a {
      margin-right: var(--space-2xl);
      @media (max-width: 1024px) {
        width: 32.5vw;
        margin: var(--vp-xs);
      }
    }
  }
  .footerLink {
    min-width: 15% !important;
    margin-right: var(--space-2xl);
  }
  .design {
    font-family: var(--font-title);
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: var(--vp-ms);
      transform: scale(.75);
      div {
        padding-bottom: var(--vp-xs);
      }
      span {
      }
    }
  }
  .linkout {
    color: var(--grey-40);
    @media (max-width: 1024px) {
      text-transform: capitalize;
    }
  }
}

.progressBar {
  z-index: var(--level-top);
  opacity: 0.8;
  position: fixed;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(12, 26, 33, 1) 18%,
    rgba(0, 91, 128, 1) 48%,
    rgba(0, 183, 255, 1) 100%
  );
  transition: var(--transition-1-smooth);
  @media (max-width: 1024px) {
    display: none;
  }
}
