.topNav {
  z-index: var(--level-eight);
  height: 4vh;
  width: 100%;
  padding-top: 5vh;
  display: grid;
  gap: 0 var(--grid-gap);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 'name label rsme rsme avail contact';
  @media (max-width: 1024px) {
    padding-top: 2vh;
    height: auto;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: repeat(3, 6.5vh);
    grid-template-areas:
      'name   .'
      'avail  contact'
      'label  rsme';
  }
  .name,
  .label,
  .rsme,
  .avail {
    text-transform: uppercase;
    font-family: var(--font-body);
    font-size: var(--text-sm);
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .name {
    grid-area: name;
    @media (max-width: 1024px) {
      font-weight: var(--semibold);
      font-size: var(--text-md);
    }
  }
  .label {
    grid-area: label;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .rsme {
    grid-area: rsme;
    color: var(--primary-mute);
    transform-origin: right;
    transition: var(--transition-3-smooth);
    white-space: nowrap;
    button {
      width: 40%;
      height: 100%;
    }
    &:hover {
      color: var(--primary);
    }
    @media (max-width: 1024px) {
      transform: scale(.75);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      white-space: unset;
      button {
        width: 100% !important;
        height: 5vh;
      }
    }
  }
  .avail {
    grid-area: avail;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1024px) {
      justify-content: center;
      flex-direction: column;
    }
    .availLabel {
      b {
        color: var(--grey-40);
        font-weight: 200 !important;
      }
    }
  }
  .contact {
    grid-area: contact;
    display: flex;
    justify-content: flex-end;
    transform-origin: right;
    @media (max-width: 1024px) {
      justify-content: center;
      flex-direction: column;
      transform: scale(.75);
      .contactBtn {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 2vh;
        button {
          height: 5vh !important;
        }
      }
    }
    .contactBtn {
      height: 100%;
      width: 10vw;
      margin-left: var(--grid-gap);
      button {
        width: 100%;
        height: 100%;
      }
    }
  }
  .resumeLink {
    color: var(--primary);
  }
}
