@import "../mixins";

.blockContainer {
  width: 40vw;
  margin-bottom: var(--vp-lg);
  @media (max-width: 1024px) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}

.textElements {
  width: 40vw;
  @media (max-width: 1024px) {
    width: 100%;
  }

  .header {
    font-family: var(--font-title);
    font-size: var(--text-prose);
    text-transform: uppercase;
  }
  .blurb {
    @include blurb;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span:not(:last-child) {
      margin-bottom: var(--vp-ms);
    }
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}

.mockup {
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: auto;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 100% !important;
    max-width: 100% !important;
  }
  @media (max-width: 1024px) {
    min-height: 10vh;
    margin-bottom: 2.5vh;
  }
}
