@import "../mixins";

.modal {
  z-index: var(--level-five);
  position: fixed;
  height: 100vh;
  width: 100vw;
  width: 77vw;
  padding: 0 11.5vw;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(105vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  transition: var(--transition-primary);
}

.modalHeader {
  position: absolute;
  top: 0;
  width: clamp(93.6vw, 93.6vw, 2100px);
  width: 77vw;
  height: 4vh;
  padding-top: 5vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "name rsme . . . contact";
  text-transform: uppercase;
  font-family: var(--font-body);
  font-size: var(--text-sm);
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    gap: 2vh 4vh;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "name    rsme"
      "contact .";
  }

  & span:nth-child(1) {
    grid-area: name;
  }
  & span:nth-child(2) {
    grid-area: rsme;
    width: 60%;

    button {
      width: 100%;
    }
    @media (max-width: 1024px) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
        width: unset;
        text-align: right;
        border: none !important;
      }
    }
  }
  & div:nth-child(3) {
    grid-area: contact;
    justify-self: flex-end;
    width: 60%;
    white-space: nowrap;
    span {
      width: 100%;
      button {
        width: 100%;
      }
    }
    @media (max-width: 1024px) {
      width: 100%;
      justify-self: flex-start;
    }
  }
}

.modalContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    justify-content: flex-start;
  }
}

.projectList {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: 1024px) {
    height: 50vh;
    justify-content: space-evenly;
  }
}

.projectRow {
  cursor: pointer;
  position: relative;
  isolation: isolate;
  padding: 2vh;
  font-family: var(--font-title);
  font-size: 3.5vmax;
  text-transform: uppercase;
  color: var(--primary-mute);
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  @media (max-width: 1024px) {
    font-size: var(--text-4xl);
    color: var(--text-color);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1vh;
  }
  &.selectedStyle {
    @media (max-width: 1024px) {
      color: var(--primary-mute);
      transform: skewX(-5deg);
      .detailItem {
        color: var(--primary-mute) !important;
        transform: skewX(-5deg);
      }
    }
  }
  &:hover {
    transform: skewX(-5deg);
    &::after {
      opacity: 1;
    }
    .projectName {
      opacity: 1;
    }
  }
  &::after {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateX(-50%);
    height: 101%;
    width: 200vw;
    background-color: var(--primary-light);
    opacity: 0;
    transition: var(--transition-primary);
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.projectDetail {
  margin: 0;
  display: none;
  .detailItem {
    font-size: var(--text-xs);
    margin-left: var(--space-2xl);
    margin-bottom: 0.75vh;
    color: var(--grey-40);
    transform: scale(0.9);
    transition: var(--transition-primary);
  }
  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.detailShade {
  display: none;
  transition: var(--transition-1-smooth);
  @media (max-width: 1024px) {
    display: unset;
    position: absolute;
    top: 2vh;
    left: -20%;
    height: 11vh;
    width: 105vw;
    background-color: var(--primary-light);
  }
}

.projectName {
  @include outlineText(var(--primary-light), var(--primary-mute));
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  transition: var(--transition-primary);
  font-size: 3.45vmax;
  letter-spacing: var(--push-lg);
  @media (max-width: 1024px) {
    display: none;
  }
  &L {
    left: -2vh;
    transform: translateX(-100%);
  }
  &R {
    right: -2vh;
    transform: translateX(100%);
  }
}

.modalFooter {
  position: absolute;
  bottom: 0;
  width: clamp(93.6vw, 93.6vw, 2100px);
  @media (max-width: 1024px) {
    height: 25vh;
  }
}

.footerSocial {
  height: var(--vp-xl);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-title);
  font-family: var(--font-body);
  letter-spacing: var(--push-md);
  text-transform: uppercase;
  @media (max-width: 1024px) {
    height: -webkit-fill-available;
    align-items: center;
    justify-content: space-evenly;
  }
}

.footerLink {
  margin-right: 2vh;
  padding: 0 1vh;
  @media (max-width: 1024px) {
    margin: 0;
    padding: 0;
    border: none;
    font-family: var(--font-title);
    font-size: var(--text-xs);
    transform: scale(0.9);
    color: var(--primary-mute);
  }
}

// Animations
@keyframes marqueeLeft {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marqueeRight {
  100% {
    transform: translateX(100%);
  }
}
