@import "../mixins";

.projectPageLayout {
  @include layout;
}

.projectHero {
  height: 90vh;
  width: 100%;
  font-family: var(--font-title);
  text-transform: uppercase;
}

.lineOne {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 9vmax;
  margin: -1.5vh;
  @media (max-width: 1024px) {
    padding-top: 5vh;
    flex-direction: column-reverse;
    justify-content: center;
  }
  h1 {
    margin: 0;
  }
  .letter {
    margin: 0;
    transition: var(--transition-1-smooth);
    user-select: none;
    &:not(:last-child) {
      margin-right: var(--vp-sm);
    }
    &:hover {
      color: var(--primary-mute);
      filter: blur(2px);
    }
    @media (max-width: 1024px) {
      font-size: var(--text-hero);
      letter-spacing: -2px;
      margin: 0;
    }
  }
  .projectImage {
    position: relative;
    width: auto;
    width: 100%;
    flex-grow: 2;
    height: 29vh;
    margin: 0 var(--vp-xl);
    border-radius: var(--radius-rounded);
    overflow: hidden;
    transition: var(--transition-1-smooth);
    @media (min-width: 1024px) {
      margin-right: 0;
    }
    @media (max-width: 1024px) {
      height: 18vh;
      margin-bottom: -2vh;
    }
    &::after {
      @include pseudoShade;
      background-color: var(--primary-mute);
      opacity: 0.5;
    }
    &:hover {
      transform: scale(1.025, 0.975);
      img {
        filter: saturate(0.8);
        transform: scale(1.01, 1.05);
      }
      &::after {
        opacity: 0;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: saturate(0);
      transition: var(--transition-1-smooth);
    }
  }
  .mobileSubtitle {
    display: none;
    @media (max-width: 1024px) {
      margin: 0;
      padding-bottom: var(--vp-md);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      letter-spacing: var(--push-ms);
      span {
        &:nth-child(1) {
          font-size: var(--text-4xl);
        }
        &:nth-child(2) {
          font-size: var(--text-3xl);
          white-space: nowrap;
        }
      }
    }
  }
}

.lineTwo {
  z-index: var(--level-one);
  isolation: isolate;
  position: relative;
  padding: var(--vp-sm) 0;
  margin: var(--vp-xxs) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4vmax;
  color: var(--primary-mute);
  transition: var(--transition-1-smooth);
  @media (max-width: 1024px) {
    display: none;
  }
  &:hover {
    transform: skewX(-5deg);
    &::after {
      opacity: 1;
    }
  }
  .banners {
    position: relative;
    width: 100%;
    padding: var(--vp-sm);
    font-family: var(--font-title);
    text-transform: uppercase;
    letter-spacing: var(--even);
    isolation: isolate;
    user-select: none;
    &::after {
      content: "";
      z-index: var(--base-one);
      position: absolute;
      top: 0;
      left: -10vw;
      height: 100%;
      width: 120vw;
      background-color: var(--grey-10);
      opacity: 0.2;
    }
    @media (max-width: 1024px) {
      font-size: var(--text-5xl);
    }
  }
  .bannerLine {
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    white-space: nowrap;
    opacity: 0.25;
    a {
      color: var(--primary-muter);
      transition: var(--transition-3-smooth);
    }
    &:hover {
      animation-play-state: paused !important;
      opacity: 1;
      a {
        // color: var(--primary);
        transform: skewX(-10deg);
      }
    }
    &.bannerOne {
      animation: marqueeLeft 40s linear infinite;
    }
    &.bannerTwo {
      animation: marqueeRight 45s linear infinite;
    }
  }
  .phrase {
    width: auto;
    white-space: nowrap;
    letter-spacing: var(--push-xl);
    transition: var(--transition-3-smooth);
  }
  &::after {
    @include pseudoSlide;
    z-index: var(--base-one);
    opacity: 0.6;
    background-color: var(--primary-light);
  }
}

.lineThree {
  position: relative;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--text-md);
  letter-spacing: var(--push-md);
  @media (max-width: 1024px) {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    isolation: isolate;
    overflow: visible;
    &::after {
      z-index: -1;
      position: absolute;
      top: 0;
      left: -12vw;
      content: "";
      height: 100%;
      width: 130vw;
      background-color: var(--primary-light);
    }
  }
  span {
    z-index: var(--level-one);
    margin-right: var(--vp-lg);
    @media (max-width: 1024px) {
      margin-right: var(--vp-ml);
    }
  }
  .roles {
    white-space: nowrap;
  }
  .tech {
    color: var(--primary-mute);
    @media (max-width: 1024px) {
      scrollbar-width: none;
      transform: translateX(-12.5vw);
      // padding-left: 12.5vw;
      width: 100vw;
      white-space: nowrap;
      overflow: scroll;
    }
  }
}

.projectContent {
  @include homeSection;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  .label {
    @include label;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.nextProject {
  position: relative;
  height: 70vh;
  margin: 20vh 0;
  width: 100%;
  font-family: var(--font-title);
  text-transform: uppercase;
  @media (max-width: 1024px) {
    height: 50vh;
    width: 100vw;
    margin-bottom: 0;
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .label {
    @include label;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .lineTwo {
    margin-top: 15vh;
    .bannerOne {
      .phrase {
        color: var(--primary-light);
        text-shadow: -1px -1px 0 var(--primary-mute), 1px -1px 0 var(--primary-mute), -1px 1px 0 var(--primary-mute),
          1px 1px 0 var(--primary-mute);
      }
    }
    .bannerTwo {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .lineOne {
    padding: 1vh 15vh;
    border-radius: var(--radius-rounded);
    transform: scale(0.8);
    @media (max-width: 1024px) {
      display: none;
    }
    &:hover {
      .nextArrow {
        opacity: 1;
        transform: translate(-50%, -65%);
      }
    }
    .projectImage {
      cursor: pointer;
      margin: 0;
      margin-left: var(--vp-ms);
      &:hover {
        .nextArrow {
          opacity: 1;
          color: var(--white);
          -webkit-text-stroke: 1px var(--white);
        }
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .mobileNextProject {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: var(--primary-mute);
    letter-spacing: var(--push-ms);
    padding-bottom: 5vh;
    @media (max-width: 1024px) {
      display: flex;
    }
  }
  .nextHeader {
    @include outlineText(var(--primary-light), var(--primary-mute));
    cursor: pointer;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5vh;
  }
  .nextProjectName {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    :nth-child(1) {
      font-size: 48px;
    }
    :nth-child(2) {
      font-size: 32px;
    }
  }
}

.nextArrow {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -60%);
  height: 100%;
  width: 100%;
  transition: var(--transition-1-smooth);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40vmin;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-light);
  opacity: 0;
  @media (max-width: 1024px) {
    display: none;
  }
}

// Animations
@keyframes marqueeLeft {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marqueeRight {
  100% {
    transform: translateX(100%);
  }
}
