.projectNav {
  z-index: var(--level-seven);
  height: 4vh;
  width: 100%;
  padding-top: 5vh;
  display: grid;
  gap: 0 var(--grid-gap);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "pNum date . . . back";
  @media (max-width: 1024px) {
    padding-top: 4vh;
    height: auto;
    gap: 0 4vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 6.5vh);
    grid-template-areas:
      "name  back"
      "date  pNum";
  }
  .nameContainer {
    display: none;
    @media (max-width: 1024px) {
      grid-area: name;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      text-transform: uppercase;
    }
  }
  .numberContainer,
  .dateContainer {
    text-transform: uppercase;
    font-family: var(--font-body);
    font-size: var(--text-sm);
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-transform: uppercase;
  }
  .numberContainer {
    grid-area: pNum;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-transform: uppercase;
    span {
      color: var(--grey-40);
    }
    @media (max-width: 1024px) {
      font-weight: var(--semibold);
      font-size: var(--text-md);
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  .dateContainer {
    grid-area: date;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span {
      color: var(--grey-40);
    }
    @media (max-width: 1024px) {
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
  .backContainer {
    grid-area: back;
    display: flex;
    justify-content: flex-end;
    transform-origin: right;
    @media (max-width: 1024px) {
      justify-self: flex-end;
      width: 80%;
      transform: scale(0.8);
      white-space: nowrap;
      .backBtn {
        width: 100% !important;
        margin-left: 0 !important;
        button {
          padding: 0 3vh;
          font-size: var(--text-xs);
          height: 5vh !important;
        }
      }
    }
    .backBtn {
      height: 100%;
      width: 10vw;
      margin-left: var(--grid-gap);
      button {
        width: 100%;
        height: 100%;
      }
    }
  }
}

button.allProjectsBtn {
  cursor: grab ;
  z-index: var(--level-top);
  position: fixed !important;
  right: calc((100vw - 93.6vw) / 2);
  // top: calc(100vw - ((100vw - 93.6vw) / 2));
  // bottom: 0;
  top: 88vh;
  width: 10vw;
  height: 5vh;
  font-family: var(--font-title);
  padding: var(--space-sm) var(--space-2xl);
  color: var(--primary-muter);
  border-color: var(--primary-muter);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  border-radius: var(--radius-rounded);
  box-shadow: 0px 0px 20px 10px transparent;
  animation: pulse 1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  @media (max-width: 1024px) {
    width: 40vw;
    span {
      font-size: var(--text-md);
    }
  }
  &:hover {
    letter-spacing: var(--push-md);
    transform: unset;
    background-color: var(--primary-light);
  }
  &:active {
    cursor: grabbing;
  }
  div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 3%);
    transform: translate(-50%, -46%);
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1024px) {
      top: 18%;
    }
  }
  span {
    height: 8vh;
    white-space: nowrap;
  }
}

.btnInnerText {
  cursor: pointer;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--primary-light);
  }
  
  to {
    box-shadow: 0 0 8px 2px var(--primary-light);
  }
}
