@import "../mixins";

.projectBlurbHeader {
  position: relative;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1024px) {
    width: 100%;
    margin-bottom: 10vh;
  }
}

.headerText {
  font-family: var(--font-title);
  font-size: var(--text-3xl-plus);
  letter-spacing: var(--push-md);
  text-transform: uppercase;
span {
    margin-right: var(--space-xl);
    &:first-child,
    &:last-child {
      color: var(--grey-40);
    }
  }
}

.visitBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(120%, -50%);
  padding: 0 var(--space-xl);
  @media (max-width: 1024px) {
    right: unset; 
    left: 0;
    top: unset;
    bottom: -5vh;
    transform: unset;
  }
}
