// Components

@mixin blurb {
  width: 40vw;
  font-family: var(--font-body);
  font-weight: var(--medium);
  font-size: clamp(var(--text-md), 2vmin, var(--text-3xl));
  letter-spacing: var(--push-md);
}

@mixin label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: var(--space-2xl);
  border-bottom: 1px solid var(--grey-10);
  font-family: var(--font-body);
  font-size: var(--text-md) !important;
  font-weight: var(--light);
  text-transform: uppercase;
  @media (max-width: 1024px) {
    // padding-left: var(--vp-md);
  }
}

@mixin list {
  width: 40vw;
  padding: 0;
  margin: 0;
  margin: var(--vp-md) 0;
  font-family: var(--font-title);
  font-size: var(--text-3xl);
  text-transform: uppercase;
  list-style: none;
}

@mixin homeSection {
  position: relative;
  margin-top: 20vh;
  padding-top: 15vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Pseudoelements

@mixin pseudoSlide {
  position: absolute;
  z-index: var(--base-one);
  content: "";
  top: 0;
  left: -150vw;
  height: 100%;
  width: 500vw;
  background-color: var(--primary-mute);
  opacity: 0;
  transition: all 1s ease-in-out;
  transition: var(--transition-1-smooth);
}

@mixin pseudoShade {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  opacity: 0;
  transition: var(--transition-1-smooth);
}

// Typography

@mixin outlineText($bgColor, $outlineColor) {
  color: $bgColor;
  text-shadow: -1px -1px 0 $outlineColor, 1px -1px 0 $outlineColor, -1px 1px 0 $outlineColor,
    1px 1px 0 $outlineColor;
}
