@font-face {
  font-family: 'M Plus Code Latin B';
  src: url('/fonts/MPLUSCodeLatin-Bold.ttf');
  font-display: swap;
}


:root {
  /* tokens */
  /* font-family */
  --font-title: 'M Plus Code Latin B', sans-serif;
  --font-body: 'IBM Plex Sans', sans-serif;

  /* palette */
  --full-black: rgb(0, 0, 0);
  --black: #464646;
  --black: rgb(70, 70, 70);
  --black-fade-5: hsla(0, 0%, 0%, 0.05);
  --black-fade-10: hsla(0, 0%, 0%, 0.1);
  --black-fade-20: hsla(0, 0%, 0%, 0.2);
  --black-fade-40: hsla(0, 0%, 0%, 0.4);
  --black-fade-80: hsla(0, 0%, 0%, 0.8);
  --grey-90: hsl(255, 11%, 15%);
  --grey-90: rgb(54, 54, 54);
  --grey-50: hsl(276, 2%, 47%);
  --grey-40: hsl(270, 2%, 60%);
  --grey-30: hsl(270, 2%, 70%);
  --grey-20: hsl(270, 2%, 80%);
  --grey-10: hsl(270, 2%, 90%);
  --grey-fade-20: hsla(276, 2%, 47%, 0.2);
  --off-white: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --white-fade-20: hsla(0, 0%, 100%, 0.2);
  --blue: #00b7ff;
  --mist-blue: #C8D9DF;
  --soft-blue: #2191bd;
  --french-blue: #266680;
  --ocean-blue: hsl(198, 27%, 29%);
  --ocean-blue: #005b80;
  --french-blue-fade-60: hsla(197, 54%, 33%, .4);

  /* z-indeces */
  --base-two: -200;
  --base-one: -100;
  --ground: auto;
  --level-one: 100;
  --level-two: 200;
  --level-three: 300;
  --level-four: 400;
  --level-five: 500;
  --level-six: 600;
  --level-seven: 700;
  --level-eight: 800;
  --level-nine: 900;
  --level-top: 9999;

  /* radii */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 48px;
  --radius-rounded: 999px;

  /* spacing */
  --space-xs: 2px;
  --space-sm: 4px;
  --space-ms: 6px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;
  --space-4xl: 64px;
  --space-5xl: 70px;

  /* viewport-spacing */
  --vp-xxs: 1vh;
  --vp-xs: 1.5vh;
  --vp-sm: 2.5vh;
  --vp-ms: 3.5vh;
  --vp-md: 5vh;
  --vp-ml: 6.5vh;
  --vp-lg: 9vh;
  --vp-xl: 13vh;
  --vp-2xl: 26vh;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 2;

  /* letter-spacing */
  --push-xl: 0.25em;
  --push-lg: 0.15em;
  --push-md: 0.08em;
  --push-ms: 0.06em;
  --push-sm: 0.02em;
  --tight: -0.015em;
  // --loose: 0.25em;
  // --even: 0.15em;
  // --open: 0.08em;
  // --tracked: 0.02em;
  // --tight: -0.015em;

  /* font-weight */
  --light: 200;
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-2xl-plus: 28px;
  --text-3xl: 32px;;
  --text-3xl-plus: 40px;
  --text-4xl: 48px;
  --text-5xl: 56px;
  --text-6xl: 64px;
  --text-7xl: 85px;
  --text-8xl: 96px;
  --text-9xl: 118px;
  --text-10xl: 144px;
  --text-11xl: 156px;

  // * role-based tokens * //

  /* colors */  
  --primary: var(--blue);
  --primary-tr: var(--french-blue-fade-60);
  --primary-light: var(--mist-blue);
  --primary-soft: var(--soft-blue);
  --primary-mute: var(--french-blue);
  --primary-muter: var(--ocean-blue);
  --background: var(--white);
  --text-color: var(--black);
  --text-color-inv: #b9b9b9;

  /* bezier curves */
  --smooth: cubic-bezier(0.115, 0.905, 0.32, 1);
  --punchitchewy: cubic-bezier(1, 0, 0.115, 0.995);
  --smooth-framer: [0.115, 0.905, 0.32, 1];

  /* transitions */
  --transition-1: all 1s var(--punchitchewy);
  --transition-2: all 0.6s var(--punchitchewy);
  --transition-3: all 0.3s var(--punchitchewy);
  --transition-4: all 0.1s var(--punchitchewy);
  --transition-1-smooth: all 1.25s var(--smooth);
  --transition-2-smooth: all 0.6s var(--smooth);
  --transition-3-smooth: all 0.3s var(--smooth);
  --transition-4-smooth: all 0.1s var(--smooth);

  --transition-primary: var(--transition-3-smooth);

  /* shadows */
  --shadow: 4px 4px 12px var(--black-fade-10);

  /* text size */
  // --text-hero: clamp(240px, 15vmax, 400px);
  --text-hero: 14vmax;
  --text-header: var(--text-11xl);
  --text-header-sm: var(--text-3xl);
  --text-display: var(--text-7xl);
  --text-prose: var(--text-2xl);

  /* size */
  --gen-margin: var(--space-2xl);
  --grid-gap: 1.38vw;
  --grid-col: 14.4vw;

  /* sizing */
  --layout-width: clamp(93.6vw, 93.6vw, 2100px);
  --mobile-content-width: 80vw;
  --mobile-blurb-width: 63vw;

  /* margin */
  --pill-overshoot: -5px;
}

/* role-based token adjustments per breakpoint */

@media (max-width: 1024px) {
  :root {
    --layout-width: 77vw;

    --text-hero: clamp(240px, 15vmax, 400px);
    --text-hero: 16vmax;
    --text-header: var(--text-7xl);
    --text-display: var(--text-3xl);
    --text-prose: var(--text-xl);
  }
}
@media (min-width: 2160px) {
  :root {
    --content-margin: 40vh;
    --text-hero: 13vmax;
    --text-hero-plus: var(--text-11xl);
    --text-section-header: 275px;
    --text-section-header-plus: 375px;
  }
}

html,
body {
  width: 100vw !important;
  max-width: 100vw !important;
  background-color: var(--background) !important;
  font-family: var(--font-body);
  color: var(--text-color);
  letter-spacing: var(--tracked);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-margin: 0 !important;
  ::-webkit-scrollbar {
     display: none !important;
  }
  & > * {
    ::-moz-selection {
      color: var(--primary-soft);
      background-color: transparent;
    }
    ::selection {
      color: var(--primary-soft);
      background-color: transparent;
    }
  }
  & * {
    ::-webkit-scrollbar {
      display: none !important;
    }
  }
}

a,
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.pill-btn {
  cursor: pointer;
  position: relative;
  min-height: 3.5vh;
  border: 1px solid var(--primary);
  border-radius: var(--radius-rounded);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--primary);
  font-family: var(--font-body);
  text-transform: uppercase;
  letter-spacing: var(--push-sm);
  overflow: hidden;
  transition: var(--transition-primary) ;
  transition: var(--transition-3-smooth) !important;
  &:hover {
    letter-spacing: var(--push-md);
    transform: skewX(-5deg);
  }
}

.vp-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50vh;
  width: 1px;
  background-color: transparent;
}

.emph {
  color: var(--primary);
}
